{{!-- <h1>{{pageTitle}}</h1> --}}

  {{!-- <main class="container container-fluid mt-5">
    <section>
        <h3>Homepage</h3> --}}

        {{#each blogs as |blogs|}}
            <article>
                <h2>{{posts.post_title}}</h2>
                <p>{{posts.contents}}</p>
                <p>Author: {{posts.creator_username}}</p>
                <p>Date: {{posts.date_created}}</p>
            </article>
        {{/each}}
    {{!-- </section>
  </main>

  <footer>

  </footer> --}}